*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #000;
  --color-primary: #22D4FD;
  --color-text: #F6F6F6;
  --font-family-main: "Montserrat", sans-serif;
  --font-family-title: "Krona One";
  --font-size-base: 16px;
  --font-size-large: 2.25rem; /* 36px */
  --font-size-medium: 1.5rem; /* 24px */
}

body {
  height: 100vh;
  padding: 15px;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-main);
  font-size: var(--font-size-base);
}

span {
  color: var(--color-primary);
}

h1 {
  font-family: var(--font-family-title);
}

a {
  background-color: var(--color-primary);
  width: 280px;
  font-weight: 600;
  padding: 21.5px 0;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  color: var(--color-background);
}

.principal {
  margin: 10% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-section {
  max-width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.text-section__title {
  font-size: var(--font-size-large);
}

.text-section__content {
  font-size: var(--font-size-medium);
}

.buttons {
  display: flex;
  gap: 20px;
}
