* {
  margin: 0;
  padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    padding: 15px;
    background-color: #000 ;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #F6F6F6
  }
  
span {
    color: #22D4FD;
  }

a {
    background-color: #22D4FD;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
}

h1 {
    font-family: "Krona One";
}

.principal{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.principal__textos {
  width: 615px;
  height: 482px;
}

.principal__textos__title {
  font-size: 36px;
}

.principal__textos__conteudo {
  font-size: 24px;
}